@mixin color-theme($name, $prop) {
  .color-#{$name} {
    color: nth($prop, 1);
  }
}

@mixin color-theme-btn($name, $prop) {
 .btn.btn-#{$name} {
    background-color: nth($prop, 1);
  }
}


$themes: (
        'black':$black,
) !default;

@each $theme, $item in $themes {
  @include color-theme($theme, $item);
  @include color-theme-btn($theme, $item);
}